<!DOCTYPE html>
<html>
<head>
    <title><%= title %> - Microblog</title>
    <style type="text/css">
        ﻿body {
            font-size: 12px;
            font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
            color: #232323;
            background-color: #fff;
        }
    </style>

    <link rel='stylesheet' href='/stylesheets/site.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/kendo/2012.3.1114/kendo.common.min.css' />
    <link rel='stylesheet' href="/stylesheets/kendo/2012.3.1114/kendo.default.min.css" />
    <link rel='stylesheet' href='/stylesheets/kendohelper.css' />
    <script type="text/javascript" src="/javascripts/modernizr-2.5.3.js"></script>
    <script src="/javascripts/kendo/2012.3.1114/jquery.min.js"></script>
    <script src="/javascripts/kendo/2012.3.1114/kendo.all.min.js"></script>
    <script src="/javascripts/puligns/ulti-upload.js"></script>
</head>
<body>

    <ul class="nav">
        <li class="active"><a href="/">首页</a></li>
        <li><a href="/login">登入</a></li>
        <li><a href="/reg">注册</a></li>
        <li><a href="/team/create">添加战队</a></li>
    </ul>

    <div id="container" class="container">
        <% if (success) { %>
        <div class="alert alert-success">
            <%= success %>
        </div>
        <% } %>
        <% if (error) { %>
        <div class="alert alert-error">
            <%= error %>
        </div>
        <% } %>
        <%- body %>
    </div>
    <script src="/javascripts/jquery.validate.js"></script>
    <script src="/javascripts/jquery.validate.unobtrusive.js"></script>
    <script src="/javascripts/jquery.validate.unobtrusive.zcustom.js"></script>
</body>
</html>
