<% for(var member in model) { %>
    <% var field=model[member];
       if(!field){
        continue;
       }
    %>
 <div class="form-field <%if(field.class){%><%=field.class%><%}%>">
     <label class="form-field-label <%if(field.require){%>form-field-lable-required<%}%>" for="<%=field.name%>"><%=field.display%></label>
         <%if(field.datatype){%>
            <%if(field.datatype=='richtext'){%>
                <% include richtext.html %>
            <% } %>
            <%if(field.datatype=='upload'){%>
                <% include upload.html %>
            <% } %>
         <%}else{%>
            <% include input.html %>
         <% } %>
 </div>
<% } %>