<%if(field.require){%>
data-val="true"
data-val-required="<%=field.require%>"
<%}%>
<%if(field.regularExpression){%>
data-val-regex-pattern="<%=field.regularExpression.regx%>"
data-val-regex="<%=field.regularExpression.message%>"
<%}%>
<% if(field.length){%>
data-val-stringchecklength-minlength="<%=field.length.range[0]%>"
data-val-stringchecklength-maxlength="<%=field.length.range[1]%>"
data-val-stringchecklength="<%=field.length.message%>"
<%}%>
<%if(field.remote){%>
data-val-remote-url="<%=field.remote.url%>"
data-val-remote="<%=field.remote.message%>"
data-val-remote-additionalfields="*.<%=field.name%>"
<%}%>
<%if(field.equalto){%>
data-val-equalto-other="<%=field.equalto.id%>"
data-val-equalto="<%=field.equalto.message%>"
<%}%>